.container{
    position: relative;
    top: 150px;
    left: 0px;
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  

}

@media screen and (max-width: 600px) {
    .container {
      top: 0px;
      left: 0px;  
      width: 100%;
      margin-top: 0;
    }
  }
.title {
    height: 45px;
    width: 500px;
    border-radius: 7px;
    border:  2px solid rgb(6, 72, 158);
 
}


.title:focus {
    width: 700px;
  background-color: rgb(0, 0, 0);
  border: 3px solid aquamarine;
  transition-duration: 1.5s
}

.desc {
    width: 500px;
    height: 500px;
    border-radius: 7px;
    border: 3px solid rgb(6, 72, 158);
    box-shadow: blueviolet;
}