.container{
    position: relative;
    top: 150px;
    left: 200px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  

}

@media screen and (max-width: 700px) {
    .container {
      top: 0px;
      left: 0px;  
      width: 100%;
      margin-top: 0;
    }
    .title {
        width: 300px;
    }
  }
.title {
    margin: 10;
    height: 45px;
    width: 500px;
    border-radius: 7px;
    border:  2px solid rgb(6, 72, 158);
    background-color: rgb(15, 14, 14);
 
}


.title:focus {
  border: 3px solid aquamarine;
  transition-duration: 1.5s
}

.desc {
    width: 500px;
    height: 500px;
    border-radius: 7px;
    border: 3px solid rgb(6, 72, 158);
    box-shadow: blueviolet;
    background-color: rgb(15, 14, 14);
}